@import './base.css';

.darkBackground{
  background: var(--color-background-dark-transparent);
  color: var(--color-text-white);
}

.text.ct{
  color:var(--color-text-ct)
}

.text.t{
  color:var(--color-text-t)
}